<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products</title>
    <link rel="stylesheet" href="../css/style.css">


    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap&subset=vietnamese"
        rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/home.style.css">
</head>

<body>
    <div class="wrapper">
        <div class="headder">
            <div class="menu">
                <nav class="navbar navbar-expand-lg navbar-light bg-new">
                    <div class="container">
                        <a class="navbar-brand logo" href="/">Shopp</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <div class="search-all">
                                <form action="/" method="GET">
                                    <div class="form-group">
                                        <input type="search" name="search" id="search" class="form-control">
                                    </div>
                                    <button type="submit" class="btn btn-outline-light btn-search">
                                        <i class="fa fa-search"></i>
                                        <!-- <a href="#">Search</a> -->
                                        <span>Search</span>
                                    </button>
                                </form>
                            </div>

                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="/products">
                                        <i class="fa fa-product-hunt"></i>
                                        <span>Products</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <i class="fa fa-bell"></i>
                                        <span>Thông báo của tôi</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/products/cart">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span>Cart</span>
                                        <div class="choosed-pr" id="amount-pr"><span><%=count%></span></div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/login">
                                        <i class="fa fa-users-cog"></i>
                                        <span>Login</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="body">
            <div class="container">
                <div class="title">
                    <h1>Danh Muc</h1>
                </div>

                <div class="search-pr">
                    <form>
                        <div class="form-group">
                            <input type="text" name="search" id="search-pr" class="form-control"
                                placeholder="Search product">
                        </div>
                    </form>
                </div>

                <div class="products" id="products">
                    <% products.forEach(product => { %>
                    <div class="card product" style="width: 14rem;">
                        <div class="pr-avatar">
                            <img class="card-img-top" src='/<%= product.img %>' alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"> <%= product.name %> </h5>
                            <p class="card-text"> <%= product.des %> </p>
                            <a href="/products/cart/<%= product._id%>" class="btn btn-primary add-product"
                                data-idSession="<%=sessionId%>" data-productId="<%=product._id%>">Add to cart</a>
                        </div>
                    </div>
                    <% }); %>

                </div>
            </div>
        </div>
        <div class="fooder"></div>


        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script type="text/javascript">
            var url = "/api/products";
            var searchProduct = document.getElementById('search-pr');
            var products = document.getElementById('products');
            var addBtnProducts = document.querySelectorAll('.add-product');
            let amountProduct = document.getElementById('amount-pr');

            //get product
            async function getProduct() {
                try {
                    const response = await axios.get(url);
                    return response.data;
                } catch (err) {
                    console.log(err)
                }
            }

            //search product
            searchProduct.addEventListener('keyup', (e) => {
                let value = e.target.value;

                getProduct().then((data) => {
                    let filteredProducts = data.filter(index => {
                        return index.name.toLowerCase().indexOf(value) !== -1;
                    });

                    renderProduct(filteredProducts);
                });
            })

            function renderProduct(items) {
                let html = '';

                items.map(product => {
                    html += `
                        <div class="card product" style="width: 14rem;">
                            <div class="pr-avatar">
                                <img class="card-img-top" src=${ product.img} alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"> ${ product.name}</h5>
                                <p class="card-text"> ${ product.des} </p>
                                <a href="/" class="btn btn-primary add-product" data-idSession="<%=sessionId%>" data-productId="${ product._id}">Add to cart</a>
                            </div>
                        </div>
                    `
                });

                products.innerHTML = html;

                let btnAdd = document.querySelectorAll('.add-product');
                addToCart(btnAdd);
            }

            // add to cart
            async function createSession(data) {
                try {
                    let url = 'http://localhost:3000/api/sessions';

                    await axios.post(url, data).then((response) => {
                        return response.data;
                    });

                } catch (error) {
                    console.log('Error is: ', error);
                }
            };

            function addToCart(key) {
                key.forEach((btnProduct) => {
                    btnProduct.addEventListener('click', async (e) => {
                        e.preventDefault();

                        let productId = btnProduct.getAttribute('data-productId');
                        let id = btnProduct.getAttribute('data-idSession');
                        let data = {
                            productId: productId
                        }
                        let url = "http://localhost:3000/api/sessions/" + id;

                        await createSession(data);

                        await session(url).then((count) => {
                            renderAmount(count);
                            return;
                        })
                    });
                });
            };

            addToCart(addBtnProducts);

            //get session
            async function session(url) {
                let count = 0;
                try {
                    await axios.get(url).then((response) => {
                        let data = response.data;
                        let cart = data.cart;
                        for (const key in cart) {
                            count = count + cart[key];
                        }

                        // console.log(count);

                    });
                } catch (error) {
                    console.log('Error is: ', error);
                }

                return count;
            }


            function renderAmount(count) {
                let html = `<span>${count}</span>`;

                amountProduct.innerHTML = html;
            }


        </script>
</body>

</html>